.logo {
  width: 60px !important;
  height: auto;
}

.navbar-icon {
  width: 40px !important;
  height: 40px !important;
}

#navbar-position {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white; /* Assure un bon contraste */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ajoute une ombre légère */
  z-index: 1030; /* S'assure que la navbar passe au-dessus du contenu */
}

.navbar-nav .nav-item {
  margin: 0 17px; /* Espacement horizontal */
}
