<div class="col-sm-8">
              <%= form_with url: activities_path, method: :get, class: "d-flex" do %>
                <%= text_field_tag :query,
                      params[:query],
                      class: "form-control",
                      placeholder: "Tape un mot clé..."
                  %>
                <%= submit_tag "Rechercher", name: "", class: "btn-search" %>
              <% end %>
            </div>

<%# <div class="settings">
  <% @settings.each do |setting| %>
    <%# <%= link_to setting.titleize, activities_path(setting: setting), class: "setting-link" %>
  <%# <% end %>
<%# </div> %>
