<div id="navbar-position" class="navbar navbar-expand-sm navbar-lewagon fixed-bottom">
  <div class="container-fluid">
    <div id="navbarSupportedContent">

    <%= image_tag "ludigo.png", class: "navbar-icon" %>

    
    </div>
  </div>
</div>
