<h1>Planning de la semaine</h1>

<%# <%= calendar(number_of_days: 5, attribute: :start_at, end_attribute: :end_at) do |date| %>
  <%# <%= date %>
<%# <% end %>
<%= calendar(number_of_days: 4) do |date| %>
  <%= date %>
<% end %>
