.activity-card {
  background-color: #ffd000;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border: none;
  position: relative;
  overflow: hidden;
  padding-bottom: 8px;
}

.favorite-card {
  background-color: #ffd000;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border: none;
  position: relative;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
}

.container-activity-card {
  width: 100%;
  max-width: 350px;
  max-height: 450px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 10px;
  padding: 0;
}

.container-favorite-card {
  width: 100%;
  height: auto;
  max-width: 350px;
  max-height: 450px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

.activity-card-description {
  padding: 5px;
  padding-top: 0px;
  border-radius: 8px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: end;
}

.activity-card-show {
  background-color: #ffd000;
  border-radius: 8px;
  margin-bottom: 15px;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
  max-height: 850px;
}

.activity-card-show-description {
  background-color: #ffeaae;
  margin-bottom: 15px;
  margin-top: 8px;
  padding: 8px;
  padding-top: 10px;
  border-radius: 8px;
}

.activity-card-show-description h5 {
  color: #3a0ca3;
  font-size: 25px;
}

.activity-card-description p {
  color: #3a0ca3;
  font-weight: lighter;
}

.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
  padding: 0;
  margin: 0;
  display: block;
  object-position: top;
}

.card-img-top-show {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0;
  margin: 0;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  color: #3a0ca3;
  font-weight: bold;
  font-family: 'Borel', serif;
  line-height: 1,2;
  margin-left: 0;
  padding: 0;
  flex-grow: 1;
}

.title-show {
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  padding-top: 10px;
  color: #3a0ca3;
  font-weight: bold;
  font-family: 'Borel', serif;
  flex-grow: 1;
  margin-bottom: -20px;
}

.image-container {
  padding: 0;
  margin: 0;
  border: none;
}

.favorite-container {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
}

.favorite-btn {
  padding: 0px;
  border: solid 2px #f00000;
  background-color: #fff5eb;
  border-radius: 50%;
  font-size: 30px;
  color: #f00000;
  position: absolute;
  padding: 15px;
  right: 1px;
  top: 1px;
}

.favorite-btn-show {
  padding: 5px;
  border: solid 2px #f00000;
  background-color: #fff5eb;
  border-radius: 50%;
  border: none;
  font-size: 40px;
  color: #f00000;
  position: absolute;
  padding: 15px;
  right: 20px;
  top: 30px;
}

.activity-icons {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}

.activity-icons-show {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 10px;
}

.activity-icons_favorite {
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-icon {
  font-size: 22px;
  color: #f00000;
  line-height: 1;
}

.age-icon {
  font-size: 22px;
  color: #f00000;
  font-weight: bold;
  line-height: 1.5;
}

.card {
  --bs-card-spacer-y: 0 !important;
}
