p {
  font-family: 'poppins', sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'bitter', serif;
  color: #003049;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: 'bitter', serif;
  color: #003049;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'poppins', sans-serif;
  padding-bottom: 80px;
}
