p {
  font-family: 'poppins', sans-serif;
  font-size: 15px;
}

h1 {
  font-family: 'borel', serif;
  color: #3a0ca3;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: 'borel', serif;
  color: #3a0ca3;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'poppins', sans-serif;
  padding-bottom: 80px;
  background-color: #fff5eb;
}

.container {
  background-color: #fff5eb;
}
