// #navbar-position

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar {
    background-color: #fff5eb !important;
    border: none;
    margin: 0;
    width: 100%;
  }

  .navbar-nav {
    display: flex;
    justify-content: space-around; /* Ensure even spacing */
    align-items: center;
    width: 100%;
    padding: 0; /* Remove any default padding */
    margin: 0; /* Remove any default margin */
  }

  .nav-item {
    flex: 1;
    text-align: center;
  }

  .navbar-icon {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin: 0; /* Ensure no margin */
    color: #c30e0e;
    font-size: 28px;

}
