.btn-search {
  background-color: #c30e0e;
  color: #FFECC8;
  font-family: poppins;
  font-size: 15px;
  border-radius: 8px;
  border: solid 1px #c30e0e;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 20px;
  height: auto;
}

.searchbar {
  border-radius: 8px;
  border: solid 2px #c30e0e;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #FFECC8;
}
